/* styles.css */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
}

.column {
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    text-align: center;
}

.logo {
    text-align: left;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.textBox {
    height: 400px;
    margin: 5px;
    width: 100%;
    padding: auto;
    margin-top: 100px;
}

.card {
    background-color: darkgray;
    height: 500px;
    margin: 5px;
    width: 100%;
    padding: auto;
}

.badge {
    color: black;
    opacity: 50%;
    text-align: l
}

.bg {
    background-color: azure;
}

.row {
    display: flex;
}

.buttonCenter {
    margin: auto;
    padding: auto;

}


#outputText{
    width: 100%;
    height: 500px;
}



.buttons{
    width: auto;
    margin: 0 auto;
    padding: 50px;
}


.buttons li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}


.button{
    width: 150px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: cadetblue;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.button:hover{
    background: darkcyan;
    transform: scale(1.2);
}
